.tutorial {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 70%;
}
.tutorial__column {
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}
.tutorial__column--issuer, .tutorial__column--verifier {
    width: 40%;
    margin: 0 auto;
}
.tutorial__column--holder {
    width: 70%;
    margin: 0 auto;
}
.tutorial__column-title {
    background-color: #363b98;
    text-align: center;
    text-transform: uppercase;
    line-height: 3;
    color: #fff;
}
.tutorial__column-steps {
    padding: 40px;
}
.tutorial__step {
    margin-bottom: 30px;
}
.tutorial__step-text {
    display: block;
    margin-bottom: 5px;
}
.tutorial__status {
    margin-right: 10px;
}
.tutorial__status-input {
    margin-right: 5px;
}
.tutorial__textarea {
    display: block;
    width: 100%;
    height: 450px;
    border-color: #ccc;
    margin-bottom: 5px;
}
.tutorial__textarea--small {
    height: 200px;
}
.tutorial__textarea-block:not(:last-child) {
    margin-bottom: 20px;
}
.tutorial__verified-vcs {
    margin-top: 40px;
    border-top: 1px solid #ccc;
    padding-top: 40px;
}
